<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44634540098-d84puebs089ul655ks7vp98p8i4s3ffs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44634540098-d84puebs089ul655ks7vp98p8i4s3ffs</string>
	<key>API_KEY</key>
	<string>AIzaSyBPKlMo3oVi17hYqlkN2SX0rPPzFruSkCE</string>
	<key>GCM_SENDER_ID</key>
	<string>44634540098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ink.sagacity.StockSafe</string>
	<key>PROJECT_ID</key>
	<string>stocked-f3eae</string>
	<key>STORAGE_BUCKET</key>
	<string>stocked-f3eae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44634540098:ios:83705d27a49b1d363e45db</string>
</dict>
</plist>